Repository i18n-global/i18n-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

.lintstagedrc.json:

{
  "packages/core/**/*.{ts,tsx}": [
    "cd packages/core && npm run lint",
    "prettier --write"
  ],
  "packages/tools/**/*.{ts,tsx}": [
    "cd packages/tools && npm run lint",
    "prettier --write"
  ],
  "apps/demo/**/*.{ts,tsx}": [
    "cd apps/demo && npm run lint",
    "prettier --write"
  ],
  "*.{json,md}": ["prettier --write"]
}

Husky, ESLint 에어비앤비 스타일, 브랜치 보호 설정을 추가하다
  .eslintrc.json
  package-lock.json
  package.json
  packages/core/eslint.config.mjs
Due: prettier --write

ESLint 설정을 수정하고 pre-push 훅을 개선하다
  .husky/pre-push
Due: none

ESLint 설정에서 플러그인 중복을 제거하다
  packages/core/eslint.config.mjs
Due: none

ESLint 설정을 수정하고 테스트 파일을 부분 수정하다
  packages/core/eslint.config.mjs
  packages/core/src/__tests__/namespace-translation.test.tsx
Due: cd packages/core && npm run lint, prettier --write

ESLint 설정을 완료하고 테스트 에러를 수정하다
  packages/core/src/__tests__/namespace-translation.test.tsx
Due: cd packages/core && npm run lint, prettier --write

테스트 기대값을 수정하고 namespace-translation 테스트 에러를 수정하다
  packages/core/src/__tests__/createI18n.test.tsx
  packages/core/src/__tests__/namespace-translation.test.tsx
Due: cd packages/core && npm run lint, prettier --write

모든 테스트를 통과시키고 분석 리포트를 작성하다
  ANALYSIS_REPORT.md
  apps/demo/package.json
  packages/core/src/__tests__/namespace-translation.test.tsx
Due: cd packages/core && npm run lint, prettier --write

타입 추론 및 코드 스플리팅 분석 리포트를 추가하다
  TYPE_INFERENCE_AND_SPLITTING.md
  TYPE_NAMESPACE_REPORT.md
  USAGE_COMPARISON.md
  USAGE_EXAMPLES.md
  packages/core/dist/index.d.ts
  packages/core/dist/index.d.ts.map
  packages/core/dist/index.js
  packages/core/dist/index.js.map
  packages/core/src/index.ts
  test-type-namespace.tsx
Due: cd packages/core && npm run lint, prettier --write

직접 import 방법의 타입 지원 가이드를 추가하다
  DIRECT_IMPORT_TYPE_SUPPORT.md
  test-direct-import-types.tsx
Due: prettier --write

Fallback 네임스페이스 기능 기획서 및 구현 계획을 추가하다
  FALLBACK_NAMESPACE_DESIGN.md
  FALLBACK_NAMESPACE_IMPLEMENTATION_PLAN.md
Due: prettier --write

Fallback 네임스페이스 기능을 구현하다
  FALLBACK_NAMESPACE_USAGE_GUIDE.md
  packages/core/auto-inference-example.tsx
  packages/core/src/__tests__/fallback-namespace.test.tsx
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write

i18nexus.config.json에서 fallback namespace를 자동 로드하도록 지원하다
  CONFIG_FILE_FALLBACK.md
  apps/demo/i18nexus.config.json
  packages/core/dist/index.d.ts
  packages/core/dist/index.d.ts.map
  packages/core/dist/index.js.map
  packages/core/src/__tests__/config-loader.test.ts
  packages/core/src/__tests__/createI18nWithConfig.test.tsx
  packages/core/src/config.ts
  packages/core/src/index.ts
  packages/core/src/utils/config-loader.ts
  packages/core/src/utils/createI18nWithConfig.ts
  packages/tools/scripts/config-loader.ts
Due: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint

전체 기능 검증을 완료하고 예제 파일을 정리하다
  TEST_VERIFICATION_REPORT.md
  packages/core/auto-inference-example.tsx
  packages/core/examples/AutoTypeExtractionExample.tsx
  packages/core/examples/DevtoolsExample.tsx
  packages/core/examples/InterpolationExample.tsx
  packages/core/examples/ServerInterpolationExample.tsx
  packages/core/examples/TypeSafeValidationExample.ts
  packages/core/examples/UseTranslationTypeSafeExample.tsx
  packages/core/examples/styled-text-demo.html
  packages/core/examples/styled-text-example.tsx
  packages/core/sample/src/ChampionshipTypeSafeExample.tsx
  packages/core/sample/src/DynamicTranslationExample.tsx
Due: cd packages/core && npm run lint, prettier --write

레거시 코드를 제거하고 타입 지원을 강화하다
  DIRECT_IMPORT_TYPE_SUPPORT.md
  GETTING_STARTED.md
  REFACTORING_REPORT.md
  TYPE_INFERENCE_AND_SPLITTING.md
  TYPE_NAMESPACE_REPORT.md
  USAGE_COMPARISON.md
  USAGE_EXAMPLES.md
  packages/core/dist/index.d.ts
  packages/core/dist/index.d.ts.map
  packages/core/dist/index.js
  packages/core/dist/index.js.map
  packages/core/dist/utils/server.d.ts
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/src/__tests__/I18nProvider.test.tsx
  packages/core/src/__tests__/interpolation.test.tsx
  packages/core/src/__tests__/server-translations.test.ts
  packages/core/src/index.ts
  packages/core/src/utils/server.ts
  test-direct-import-types.tsx
  test-type-namespace.tsx
Due: cd packages/core && npm run lint, prettier --write

ESLint 9 호환성 문제를 해결하다
  .eslintrc.json
  package-lock.json
  package.json
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js.map
Due: prettier --write

ESLint 9 호환성 문제 해결 보고서를 추가하다
  ESLINT_FIX_REPORT.md
Due: prettier --write

package-lock.json을 업데이트하고 eslint-config-airbnb를 완전히 제거하다
  package-lock.json
Due: prettier --write

Next.js 빌드 경고를 해결하고 pnpm-lock.yaml을 제거하다
  .gitignore
  apps/demo/next.config.ts
  apps/demo/pnpm-lock.yaml
Due: prettier --write, cd apps/demo && npm run lint

린터 에러를 수정하고 eslint-import-resolver-typescript를 추가하다
  apps/demo/app/docs/i18nexus/page.tsx
  apps/demo/entities/project/api/getProjects.ts
  apps/demo/eslint.config.mjs
  apps/demo/features/auth-login/api/signIn.ts
  apps/demo/features/auth-login/ui/LoginForm.tsx
  apps/demo/features/project-submit/ui/ProjectSubmitForm.tsx
  apps/demo/package.json
  apps/demo/page-components/admin-dashboard/useAdminDashboard.ts
  apps/demo/widgets/navigation/ui/Navigation.tsx
  package-lock.json
Due: prettier --write, cd apps/demo && npm run lint

린터 자동 수정을 완료하다
  apps/demo/app/api/metadata/route.ts
  apps/demo/app/api/submissions/route.ts
  apps/demo/app/cli/page.tsx
  apps/demo/app/docs/i18nexus-tools/download-force/page.tsx
  apps/demo/app/docs/i18nexus-tools/download/page.tsx
  apps/demo/app/docs/i18nexus-tools/extractor/page.tsx
  apps/demo/app/docs/i18nexus-tools/google-sheets/page.tsx
  apps/demo/app/docs/i18nexus-tools/page.tsx
  apps/demo/app/docs/i18nexus-tools/upload/page.tsx
  apps/demo/app/docs/i18nexus-tools/wrapper/page.tsx
  apps/demo/app/docs/i18nexus/provider/page.tsx
  apps/demo/app/docs/i18nexus/server-components/page.tsx
  apps/demo/app/docs/i18nexus/use-language-switcher/page.tsx
  apps/demo/app/docs/i18nexus/use-translation/page.tsx
  apps/demo/app/getting-started/page.tsx
  apps/demo/app/page.tsx
  apps/demo/app/provider/page.tsx
  apps/demo/app/server-example/page.tsx
  apps/demo/entities/download/api/getDownloadStats.ts
  apps/demo/entities/project/api/getProjects.ts
  apps/demo/features/auth-login/api/signIn.ts
  apps/demo/features/auth-login/api/signOut.ts
  apps/demo/features/auth-login/ui/LoginForm.tsx
  apps/demo/features/project-manage/api/approveProject.ts
  apps/demo/features/project-manage/api/deleteProject.ts
  apps/demo/features/project-submit/api/fetchMetadata.ts
  apps/demo/features/project-submit/api/submitProject.ts
  apps/demo/features/project-submit/ui/ProjectSubmitForm.tsx
  apps/demo/page-components/admin-dashboard/useAdminDashboard.ts
Due: prettier --write, cd apps/demo && npm run lint

CI 빌드 순서를 수정하여 core 패키지를 먼저 빌드하다
  .github/workflows/ci.yml
Due: none

CI에서 변경된 패키지만 빌드하도록 최적화하다
  .github/workflows/ci.yml
Due: none

Tailwind CSS 의존성을 dependencies로 이동하다
  apps/demo/package.json
Due: prettier --write

lightningcss를 dependencies에 명시적으로 추가하다
  apps/demo/package.json
Due: prettier --write

SWC와 Worker Threads 기반 병렬 처리를 사용하는 t-wrapper-swc-worker를 구현하다
  package-lock.json
  packages/tools/bin/i18n-wrapper-swc-worker.ts
  packages/tools/package.json
  packages/tools/scripts/t-wrapper-swc-worker/README.md
  packages/tools/scripts/t-wrapper-swc-worker/__tests__/index.e2e.test.ts
  packages/tools/scripts/t-wrapper-swc-worker/__tests__/worker-pool.test.ts
  packages/tools/scripts/t-wrapper-swc-worker/__tests__/wrapper.test.ts
  packages/tools/scripts/t-wrapper-swc-worker/index.ts
  packages/tools/scripts/t-wrapper-swc-worker/types.ts
  packages/tools/scripts/t-wrapper-swc-worker/worker-pool.ts
  packages/tools/scripts/t-wrapper-swc-worker/worker.ts
  packages/tools/scripts/t-wrapper-swc-worker/wrapper.ts
Due: prettier --write, cd packages/tools && npm run lint

적응형 translation wrapper를 구현하다
  packages/tools/scripts/t-wrapper/__tests__/index.e2e.test.ts
  packages/tools/scripts/t-wrapper/__tests__/translation-wrapper.test.ts
  packages/tools/scripts/t-wrapper/babel/applier/translation-applier.ts
  packages/tools/scripts/t-wrapper/babel/ast/ast-helpers.ts
  packages/tools/scripts/t-wrapper/babel/ast/ast-transformers.ts
  packages/tools/scripts/t-wrapper/babel/ast/component-transformer.ts
  packages/tools/scripts/t-wrapper/babel/manager/import-manager.ts
  packages/tools/scripts/t-wrapper/babel/utils/constants.ts
  packages/tools/scripts/t-wrapper/babel/utils/fs-utils.ts
  packages/tools/scripts/t-wrapper/babel/wrapper.ts
  packages/tools/scripts/t-wrapper/index.ts
  packages/tools/scripts/t-wrapper/swc-worker/NEXTJS_BENCHMARK.md
  packages/tools/scripts/t-wrapper/swc-worker/README.md
  packages/tools/scripts/t-wrapper/swc-worker/__tests__/index.e2e.test.ts
  packages/tools/scripts/t-wrapper/swc-worker/__tests__/worker-pool.test.ts
  packages/tools/scripts/t-wrapper/swc-worker/__tests__/wrapper.test.ts
  packages/tools/scripts/t-wrapper/swc-worker/index.ts
  packages/tools/scripts/t-wrapper/swc-worker/types.ts
  packages/tools/scripts/t-wrapper/swc-worker/worker-pool.ts
  packages/tools/scripts/t-wrapper/swc-worker/worker.ts
  packages/tools/scripts/t-wrapper/swc-worker/wrapper.ts
  packages/tools/scripts/t-wrapper/wrapper.ts
Due: prettier --write, cd packages/tools && npm run lint

코드베이스를 정리하고 문서를 간소화하다
  packages/tools/scripts/t-wrapper/BENCHMARK.md
  packages/tools/scripts/t-wrapper/__tests__/index.e2e.test.ts
  packages/tools/scripts/t-wrapper/__tests__/translation-wrapper.test.ts
  packages/tools/scripts/t-wrapper/__tests__/worker-pool.test.ts
  packages/tools/scripts/t-wrapper/__tests__/wrapper.test.ts
  packages/tools/scripts/t-wrapper/babel/wrapper.ts
  packages/tools/scripts/t-wrapper/common/applier/translation-applier.ts
  packages/tools/scripts/t-wrapper/common/ast/ast-helpers.ts
  packages/tools/scripts/t-wrapper/common/ast/ast-transformers.ts
  packages/tools/scripts/t-wrapper/common/ast/component-transformer.ts
  packages/tools/scripts/t-wrapper/common/manager/import-manager.ts
  packages/tools/scripts/t-wrapper/common/utils/constants.ts
  packages/tools/scripts/t-wrapper/common/utils/fs-utils.ts
  packages/tools/scripts/t-wrapper/index.ts
  packages/tools/scripts/t-wrapper/swc-worker/NEXTJS_BENCHMARK.md
  packages/tools/scripts/t-wrapper/swc-worker/README.md
  packages/tools/scripts/t-wrapper/swc-worker/__tests__/index.e2e.test.ts
  packages/tools/scripts/t-wrapper/swc-worker/index.ts
  packages/tools/scripts/t-wrapper/swc-worker/worker.ts
Due: prettier --write, cd packages/tools && npm run lint

테스트와 코드 구조를 최적화하다
  packages/tools/scripts/t-wrapper/common/__tests__/ast-helpers.test.ts
  packages/tools/scripts/t-wrapper/common/__tests__/ast-transformers.test.ts
  packages/tools/scripts/t-wrapper/common/__tests__/component-transformer.test.ts
  packages/tools/scripts/t-wrapper/common/__tests__/import-manager.test.ts
Due: prettier --write, cd packages/tools && npm run lint

테스트를 수정하고 안정성을 개선하다
  packages/tools/scripts/t-wrapper/__tests__/index.e2e.test.ts
  packages/tools/scripts/t-wrapper/__tests__/worker-pool.test.ts
  packages/tools/scripts/t-wrapper/__tests__/wrapper.test.ts
  packages/tools/scripts/t-wrapper/swc-worker/worker-pool.ts
Due: prettier --write, cd packages/tools && npm run lint

Jest 커버리지 확인을 위한 test:coverage 스크립트를 추가하다
  packages/tools/package.json
Due: prettier --write

Cursor와 VSCode에서 Jest를 쉽게 실행하도록 설정을 추가하다
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  JEST_SETUP.md
  jest.config.js
Due: prettier --write

불필요한 문서를 정리하고 README 내용을 최신화하다
  README.md
  apps/demo/README.md
  apps/linter.js
  packages/core/README.md
  packages/tools/README.md
Due: prettier --write

extractor가 타입 안전한 locales/index.ts를 자동 생성하도록 추가하다
  packages/tools/docs/AUTO_INDEX_GENERATION.md
  packages/tools/scripts/extractor/index.ts
  packages/tools/scripts/extractor/output-generator.ts
Due: prettier --write, cd packages/tools && npm run lint

패키지 잠금 파일을 최신 의존성으로 업데이트하다
  package-lock.json
Due: prettier --write

lazy loading으로 번역 모듈 코드 스플리팅을 적용하다
  ANALYSIS_REPORT.md
  COMMIT.md
  CONFIG_FILE_FALLBACK.md
  ESLINT_FIX_REPORT.md
  FALLBACK_NAMESPACE_DESIGN.md
  FALLBACK_NAMESPACE_IMPLEMENTATION_PLAN.md
  FALLBACK_NAMESPACE_USAGE_GUIDE.md
  NAMESPACE_LOCATION_EXAMPLE.md
  REFACTORING_REPORT.md
  TEST_VERIFICATION_REPORT.md
  apps/demo/ACCESS_CONTROL.md
  apps/demo/FIREBASE_QUICK_SETUP.md
  apps/demo/SHOWCASE_README.md
  apps/demo/SHOW_CASE.md
  apps/demo/claude.md
  apps/demo/locales/index.ts
  apps/demo/scripts/dev-server.js
  apps/demo/scripts/fill-english-translations.js
  apps/demo/scripts/fix-all-code-blocks.py
  apps/demo/scripts/fix-code-blocks.sh
  apps/demo/scripts/migrate-i18n.sh
  packages/core/docs/LAZY_LOADING.md
  packages/core/src/utils/createI18n.ts
  packages/tools/scripts/extractor/output-generator.ts
Due: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

서버에서 언어를 자동 감지하는 getServerTranslation API를 추가하다
  apps/demo/locales/index.ts
  apps/demo/pages/provider/index.tsx
  apps/demo/pages/server-example/index.tsx
  apps/demo/pages/showcase/index.tsx
  apps/demo/pages/test-wrapper-namespace/index.tsx
  apps/demo/shared/ui/ProjectCard/index.tsx
  apps/demo/shared/ui/index.ts
  apps/demo/widgets/showcase-list/index.ts
  apps/demo/widgets/showcase-list/ui/ShowcaseList.tsx
  apps/demo/widgets/showcase-list/ui/index.ts
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write, cd apps/demo && npm run lint

문서를 최신 API로 업데이트하고 CodeBlock 사용을 개선하다
  apps/demo/app/layout.tsx
  apps/demo/pages/docs-i18nexus-use-translation/index.tsx
  apps/demo/pages/getting-started/index.tsx
  apps/demo/pages/provider/index.tsx
  packages/core/README.md
Due: prettier --write, cd apps/demo && npm run lint
