Repository i18n-global/i18n-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

chore[core]: prettier 포맷팅 적용
  packages/core/dist/utils/languageManager.d.ts
  packages/core/dist/utils/languageManager.d.ts.map
  packages/core/dist/utils/languageManager.js
  packages/core/dist/utils/languageManager.js.map
Due: cd packages/core && npm run lint, prettier --write

fix[demo]: grid.svg 파일 추가 및 webpack 동적 import 경고 억제
  apps/demo/next.config.ts
  apps/demo/public/grid.svg
Due: prettier --write, cd apps/demo && npm run lint

feat[demo]: 아이콘 설정 및 Google Analytics 스크립트 수정
  apps/demo/app/icon.png
  apps/demo/app/layout.tsx
  apps/demo/public/icon.png
Due: prettier --write, cd apps/demo && npm run lint

chore[demo]: 아이콘 이미지 파일 추가
  apps/demo/public/favicon.ico
  apps/demo/public/i18n-icon-no-bg.png
  apps/demo/public/i18n-icon.png
Due: none

feat[tools]: 다른 i18n 라이브러리와의 호환성 추가
  packages/tools/bin/i18n-sheets.ts
  packages/tools/scripts/config-loader.ts
  packages/tools/scripts/extractor/index.ts
  packages/tools/scripts/extractor/output-generator.ts
Due: prettier --write, cd packages/tools && npm run lint

feat[tools]: add compatibility with other i18n libraries
  packages/tools/bin/i18n-sheets.ts
  packages/tools/scripts/config-loader.ts
  packages/tools/scripts/extractor/index.ts
  packages/tools/scripts/extractor/output-generator.ts
Due: prettier --write, cd packages/tools && npm run lint

feat[demo]: 메타데이터 추가 및 locales 설정 간소화
  apps/demo/app/docs/i18nexus/provider/page.tsx
  apps/demo/app/getting-started/page.tsx
  apps/demo/app/page.tsx
  apps/demo/app/provider/page.tsx
  apps/demo/app/server-example/page.tsx
  apps/demo/app/showcase/page.tsx
  apps/demo/app/showcase/submit/page.tsx
  apps/demo/locales/index.ts
Due: prettier --write, cd apps/demo && npm run lint

feat[demo]: add metadata and simplify locales setup
  apps/demo/app/docs/i18nexus/provider/page.tsx
  apps/demo/app/getting-started/page.tsx
  apps/demo/app/page.tsx
  apps/demo/app/provider/page.tsx
  apps/demo/app/server-example/page.tsx
  apps/demo/app/showcase/page.tsx
  apps/demo/app/showcase/submit/page.tsx
  apps/demo/locales/index.ts
Due: prettier --write, cd apps/demo && npm run lint

chore[core,tools]: bump versions for v3.2 release
  package-lock.json
  packages/core/dist/components/I18nProvider.d.ts.map
  packages/core/dist/components/I18nProvider.js
  packages/core/dist/components/I18nProvider.js.map
  packages/core/dist/hooks/useTranslation.d.ts.map
  packages/core/dist/hooks/useTranslation.js
  packages/core/dist/hooks/useTranslation.js.map
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js.map
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/__tests__/namespace-translation.test.tsx
  packages/core/src/components/I18nProvider.tsx
  packages/core/src/hooks/useTranslation.ts
  packages/core/src/utils/createI18n.ts
  packages/core/src/utils/server.ts
  packages/tools/package.json
Due: cd packages/core && npm run lint, prettier --write

chore[core,tools]: v3.2 릴리스를 위해 버전 업데이트
  package-lock.json
  packages/core/dist/components/I18nProvider.d.ts.map
  packages/core/dist/components/I18nProvider.js
  packages/core/dist/components/I18nProvider.js.map
  packages/core/dist/hooks/useTranslation.d.ts.map
  packages/core/dist/hooks/useTranslation.js
  packages/core/dist/hooks/useTranslation.js.map
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js.map
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/__tests__/namespace-translation.test.tsx
  packages/core/src/components/I18nProvider.tsx
  packages/core/src/hooks/useTranslation.ts
  packages/core/src/utils/createI18n.ts
  packages/core/src/utils/server.ts
  packages/tools/package.json
Due: cd packages/core && npm run lint, prettier --write

docs: v3.2 배포 요약 추가
  DEPLOYMENT_SUMMARY.md
Due: prettier --write

chore[tools]: bump version to 2.0.0 for major changes
  packages/tools/package.json
Due: prettier --write

fix[tools]: namespaceLocation이 있어도 네임스페이스 추론이 작동하도록 수정
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/t-wrapper/common/applier/translation-applier.ts
Due: prettier --write, cd packages/tools && npm run lint

fix[tools]: 한글이 유니코드 이스케이프 시퀀스로 변환되는 버그 수정
  apps/demo/app/ClientProvider.tsx
  apps/demo/app/cli/page.tsx
  apps/demo/page/cli/index.tsx
  package-lock.json
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/common/ast/parser-utils.ts
Due: prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

feat[tools]: 보간 변수 타입 체크 기능 추가
  apps/demo/locales/index.ts
  apps/demo/locales/types/i18nexus.d.ts
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

feat[tools]: translationImportSource를 타입 생성에 적용
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/index.ts
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint

fix[tools]: 서버 모듈도 translationImportSource 적용
  apps/demo/i18nexus.config.json
  apps/demo/locales/types/i18nexus.d.ts
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/index.ts
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

refactor[tools]: lazy 파라미터 제거 및 init 질문 간소화
  TECH_BLOG_TYPE_SAFETY.md
  apps/demo/i18nexus.config.json
  packages/tools/CHANGELOG.md
  packages/tools/bin/i18n-sheets.ts
  packages/tools/package.json
  packages/tools/scripts/common/default-config.ts
  packages/tools/scripts/config-loader.ts
  packages/tools/scripts/extractor/index.ts
  packages/tools/scripts/extractor/output-generator.ts
  툴정리.md
Due: prettier --write, cd packages/tools && npm run lint

feat[core]: useTranslation에 lng 별칭 추가
  apps/demo/locales/types/i18nexus.d.ts
  packages/core/CHANGELOG.md
  packages/core/dist/hooks/useTranslation.d.ts
  packages/core/dist/hooks/useTranslation.d.ts.map
  packages/core/dist/hooks/useTranslation.js
  packages/core/dist/hooks/useTranslation.js.map
  packages/core/package.json
  packages/core/src/hooks/useTranslation.ts
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
Due: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

feat[tools]: 네임스페이스별 타입 export 추가
  apps/demo/components/LanguageDropDown.tsx
  apps/demo/locales/constant/en.json
  apps/demo/locales/constant/ko.json
  apps/demo/locales/types/i18nexus.d.ts
  apps/demo/utils/constants.ts
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

feat[core]: getTranslation에 lng 별칭 추가
  apps/demo/locales/constant/en.json
  apps/demo/locales/types/i18nexus.d.ts
  apps/demo/utils/constants.ts
  packages/core/CHANGELOG.md
  packages/core/dist/utils/server.d.ts
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/package.json
  packages/core/src/utils/server.ts
  packages/tools/scripts/extractor/type-generator.ts
Due: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

fix[tools]: 동적 키 타입 에러 해결 및 props t 감지
  TECH_BLOG_TYPE_SAFETY.md
  apps/demo/locales/types/i18nexus.d.ts
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
  packages/tools/scripts/t-wrapper/common/applier/translation-applier.ts
Due: prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

feat[tools]: 타입 정의 개선 및 동적 키 ConstantKeys 제한
  apps/demo/locales/types/i18nexus.d.ts
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

Path conditions:
  cd packages/core && npm run lint: any of: packages/core/**/*.{ts,tsx}
  prettier --write: (((any of: packages/core/**/*.{ts,tsx}) or (any of: packages/tools/**/*.{ts,tsx})) or (any of: apps/demo/**/*.{ts,tsx})) or (any of: *.{json,md})
  cd packages/tools && npm run lint: any of: packages/tools/**/*.{ts,tsx}
  cd apps/demo && npm run lint: any of: apps/demo/**/*.{ts,tsx}
