Repository i18n-global/i18n-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

chore[core]: 터보레포 설정 추가 (commitlint, 자동배포, 원격캐싱)
  .commitlintrc.json
  .github/workflows/ci.yml
  .github/workflows/version-and-release.yml
  .husky/commit-msg
  TURBOREPO_SETUP.md
  package-lock.json
  package.json
  turbo.json
Due: prettier --write

feat[core]: Provider 제거 및 i18n 객체 기반 아키텍처로 전환
  packages/core/dist/index.d.ts
  packages/core/dist/index.d.ts.map
  packages/core/dist/index.js
  packages/core/dist/index.js.map
  packages/core/src/index.ts
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write

feat[demo]: Provider 없는 아키텍처로 데모 업데이트
  apps/demo/app/layout.tsx
  apps/demo/features/language-switch/ui/LanguageSwitcher.tsx
  apps/demo/locales/getting-started/ko.json
  apps/demo/locales/index.ts
  apps/demo/locales/server-example/ko.json
  apps/demo/page/getting-started/index.tsx
  apps/demo/page/provider/index.tsx
  apps/demo/page/server-example/index.tsx
  apps/demo/shared/ui/ClientProvider.tsx
  apps/demo/shared/ui/index.ts
Due: prettier --write, cd apps/demo && npm run lint

fix[core]: CI 환경에서 husky hook 스킵 및 postversion 스크립트 제거
  .husky/pre-commit
  .husky/pre-push
  package.json
  packages/core/package.json
Due: prettier --write

chore[core]: husky 스크립트 v10 호환성 업데이트
  .husky/pre-commit
  .husky/pre-push
Due: none

docs[core]: CI/CD 가이드 문서 추가
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/version-and-release.yml
  CICD_GUIDE.md
  apps/demo/package.json
Due: prettier --write

revert[demo]: lightningcss 및 CI 설치 옵션 변경 롤백
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/version-and-release.yml
  apps/demo/package.json
Due: prettier --write

fix[ci]: 커밋 메시지 파싱 오류 수정
  .github/workflows/version-and-release.yml
Due: none

fix[ci]: demo 빌드를 CI에서 제외
  .github/workflows/ci.yml
Due: none

fix[demo]: lightningcss Linux 바이너리를 optionalDependencies로 추가
  apps/demo/package.json
Due: prettier --write

fix[ci]: lightningcss 네이티브 바이너리 설치 보장
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/version-and-release.yml
Due: none

chore[deps]: package-lock.json 업데이트
  package-lock.json
Due: prettier --write

feat[tools]: i18n-sheets init에 네임스페이스 모드와 lazy loading 기본 지원
  packages/tools/bin/i18n-sheets.ts
Due: prettier --write, cd packages/tools && npm run lint

fix[core]: i18n 객체의 서버 컴포넌트 안전성 개선
  packages/core/dist/utils/languageManager.d.ts
  packages/core/dist/utils/languageManager.d.ts.map
  packages/core/dist/utils/languageManager.js
  packages/core/dist/utils/languageManager.js.map
  packages/core/src/utils/createI18n.ts
  packages/core/src/utils/languageManager.ts
Due: cd packages/core && npm run lint, prettier --write

fix[core]: resetLanguage 서버 컴포넌트 안전성 추가
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write

fix[demo]: useSearchParams Suspense 경계 추가 및 useLanguageSwitcher 제거
  apps/demo/app/docs/i18nexus-tools/upload/page.tsx
  apps/demo/locales/common/en.json
  apps/demo/locales/docs-i18nexus-provider/en.json
  apps/demo/locales/docs-i18nexus-server-components/en.json
  apps/demo/locales/docs-i18nexus-tools-download-force/en.json
  apps/demo/locales/docs-i18nexus-tools-download/en.json
  apps/demo/locales/docs-i18nexus-tools-extractor/en.json
  apps/demo/locales/docs-i18nexus-tools-google-sheets/en.json
  apps/demo/locales/docs-i18nexus-tools-upload/en.json
  apps/demo/locales/docs-i18nexus-tools-wrapper/en.json
  apps/demo/locales/docs-i18nexus-tools/en.json
  apps/demo/locales/docs-i18nexus-use-language-switcher/en.json
  apps/demo/locales/docs-i18nexus-use-translation/en.json
  apps/demo/locales/getting-started/en.json
  apps/demo/locales/index.ts
  apps/demo/locales/provider/en.json
  apps/demo/locales/provider/ko.json
  apps/demo/locales/server-example/en.json
  apps/demo/page/docs-i18nexus-use-language-switcher/index.tsx
  apps/demo/page/provider/index.tsx
  apps/demo/shared/ui/Analytics.tsx
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write, cd apps/demo && npm run lint

fix[demo]: lightningcss-linux-x64-gnu를 dependencies로 이동 및 CI/CD 단순화
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/version-and-release.yml
  apps/demo/package-lock.json
  apps/demo/package.json
  packages/core/dist/utils/server.d.ts
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/src/components/I18NexusDevtools.tsx
  packages/core/src/components/I18nProvider.tsx
  packages/core/src/config.ts
  packages/core/src/hooks/useTranslation.ts
  packages/core/src/index.ts
  packages/core/src/utils/config-loader.ts
  packages/core/src/utils/createI18n.ts
  packages/core/src/utils/createI18nWithConfig.ts
  packages/core/src/utils/dynamicTranslation.ts
  packages/core/src/utils/server.ts
  packages/core/src/utils/typeTranslation.ts
  packages/core/src/utils/types.ts
Due: cd packages/core && npm run lint, prettier --write

fix[demo]: Corepack 활성화로 packageManager 필드 인식 문제 해결
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/version-and-release.yml
Due: none

refactor[demo]: Tailwind CSS v4에서 v3로 다운그레이드 및 lightningcss 의존성 제거
  apps/demo/app/globals.css
  apps/demo/package.json
  apps/demo/postcss.config.mjs
  apps/demo/tailwind.config.js
Due: prettier --write

fix[demo]: Tailwind v3 + lock file sync
  package-lock.json
  packages/core/dist/components/I18NexusDevtools.d.ts
  packages/core/dist/components/I18NexusDevtools.d.ts.map
  packages/core/dist/components/I18NexusDevtools.js
  packages/core/dist/components/I18NexusDevtools.js.map
  packages/core/dist/components/I18nProvider.d.ts
  packages/core/dist/components/I18nProvider.d.ts.map
  packages/core/dist/components/I18nProvider.js
  packages/core/dist/components/I18nProvider.js.map
  packages/core/dist/hooks/useTranslation.d.ts
  packages/core/dist/hooks/useTranslation.d.ts.map
  packages/core/dist/hooks/useTranslation.js
  packages/core/dist/hooks/useTranslation.js.map
  packages/core/dist/index.d.ts
  packages/core/dist/index.d.ts.map
  packages/core/dist/index.js
  packages/core/dist/index.js.map
  packages/core/dist/utils/types.d.ts
  packages/core/dist/utils/types.d.ts.map
  packages/core/dist/utils/types.js
  packages/core/dist/utils/types.js.map
Due: cd packages/core && npm run lint, prettier --write

fix[demo]: languageManager 설정 추가하여 영-한 번역 기능 복구
  apps/demo/locales/index.ts
Due: prettier --write, cd apps/demo && npm run lint

fix[core]: lazy loading 프리로드 로직 추가 및 home namespace 프리로드 설정
  apps/demo/app/layout.tsx
  apps/demo/locales/index.ts
  apps/demo/package.json
  apps/demo/page/cli/index.tsx
  apps/demo/page/docs-i18nexus-provider/index.tsx
  apps/demo/page/docs-i18nexus-server-components/index.tsx
  apps/demo/page/docs-i18nexus-tools-download-force/index.tsx
  apps/demo/page/docs-i18nexus-tools-download/index.tsx
  apps/demo/page/docs-i18nexus-tools-extractor/index.tsx
  apps/demo/page/docs-i18nexus-tools-google-sheets/index.tsx
  apps/demo/page/docs-i18nexus-tools-upload/index.tsx
  apps/demo/page/docs-i18nexus-tools-wrapper/index.tsx
  apps/demo/page/docs-i18nexus-tools/index.tsx
  apps/demo/page/docs-i18nexus-use-language-switcher/index.tsx
  apps/demo/page/docs-i18nexus-use-translation/index.tsx
  apps/demo/page/docs-i18nexus/index.tsx
  apps/demo/page/getting-started/index.tsx
  apps/demo/page/home/index.tsx
  apps/demo/page/provider/index.tsx
  apps/demo/page/server-example/index.tsx
  apps/demo/postcss.config.mjs
  apps/demo/tailwind.config.js
  package-lock.json
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write, cd apps/demo && npm run lint

fix[core]: useTranslation에서 namespace 동적 로딩 지원
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write

fix[demo]: Navigation hydration 에러 해결
  apps/demo/widgets/navigation/ui/Navigation.tsx
Due: prettier --write, cd apps/demo && npm run lint

fix[demo]: Navigation isReady 체크 제거
  apps/demo/widgets/navigation/ui/Navigation.tsx
Due: prettier --write, cd apps/demo && npm run lint

fix[core]: 서버에서도 쿠키를 읽어 Hydration 에러 해결
  apps/demo/app/layout.tsx
  apps/demo/widgets/Navigation/index.tsx
  apps/demo/widgets/navigation/index.ts
  apps/demo/widgets/navigation/ui/index.ts
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write, cd apps/demo && npm run lint

fix[core]: useTranslation 초기 상태를 서버/클라이언트 동일하게 설정하여 Hydration 에러 해결
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write

fix[demo]: home namespace 영어 번역 완료
  apps/demo/locales/home/en.json
Due: prettier --write

fix[demo]: 모든 로케일 en.json 영어 번역 완료
  apps/demo/locales/cli/en.json
  apps/demo/locales/docs-i18nexus-use-translation/en.json
  apps/demo/locales/docs-lazy-loading/en.json
  apps/demo/locales/getting-started/en.json
  apps/demo/locales/provider/en.json
  apps/demo/locales/server-example/en.json
  apps/demo/locales/showcase/en.json
Due: prettier --write

fix[core]: getCurrentLanguage 서버에서도 쿠키 읽도록 수정하여 Hydration 에러 해결
  packages/core/src/utils/createI18n.ts
  packages/core/src/utils/languageManager.ts
Due: cd packages/core && npm run lint, prettier --write

fix[core]: useTranslation 초기 상태를 기본 언어로 설정하여 Hydration 에러 해결
  packages/core/src/utils/createI18n.ts
  packages/core/src/utils/languageManager.ts
Due: cd packages/core && npm run lint, prettier --write

fix[core]: getServerTranslation에서 getServerLanguage 옵션 전달 및 lazy 모드 namespace 로드 지원
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write

feat[core]: changeLanguage에 reload 옵션 추가, SSR 페이지에서 언어 변경 시 새로고침 지원
  apps/demo/features/language-switch/ui/LanguageSwitcher.tsx
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write, cd apps/demo && npm run lint

fix[demo]: 언어 변경 시 스크롤 위치 유지하도록 수정
  apps/demo/app/layout.tsx
  apps/demo/shared/ui/ScrollRestorer.tsx
  apps/demo/shared/ui/index.ts
  packages/core/src/utils/createI18n.ts
Due: cd packages/core && npm run lint, prettier --write, cd apps/demo && npm run lint

Path conditions:
  cd packages/core && npm run lint: any of: packages/core/**/*.{ts,tsx}
  prettier --write: (((any of: packages/core/**/*.{ts,tsx}) or (any of: packages/tools/**/*.{ts,tsx})) or (any of: apps/demo/**/*.{ts,tsx})) or (any of: *.{json,md})
  cd packages/tools && npm run lint: any of: packages/tools/**/*.{ts,tsx}
  cd apps/demo && npm run lint: any of: apps/demo/**/*.{ts,tsx}
