Repository i18n-global/i18n-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

.lintstagedrc.json:

{
  "packages/core/**/*.{ts,tsx}": [
    "cd packages/core && npm run lint",
    "prettier --write"
  ],
  "packages/tools/**/*.{ts,tsx}": [
    "cd packages/tools && npm run lint",
    "prettier --write"
  ],
  "apps/demo/**/*.{ts,tsx}": [
    "cd apps/demo && npm run lint",
    "prettier --write"
  ],
  "*.{json,md}": ["prettier --write"]
}

feat[tools]: init 시 common과 constant 네임스페이스 자동 생성
  apps/demo/locales/types/i18nexus.d.ts
  packages/tools/CHANGELOG.md
  packages/tools/bin/i18n-sheets.ts
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

chore[tools]: 네임스페이스별 시트 업로드 및 설정 개선
  packages/tools/bin/i18n-sheets.ts
  packages/tools/bin/i18n-upload.ts
  packages/tools/scripts/extractor/index.ts
Due: prettier --write, cd packages/tools && npm run lint

fix[tools]: Google Sheets 수식/날짜/시간 오인 방지 개선
  packages/tools/scripts/google-sheets.ts
Due: prettier --write, cd packages/tools && npm run lint

refactor[tools]: wrapper 제네릭 타입 생성 제거 및 타입 추론 개선
  packages/tools/scripts/extractor/type-generator.ts
  packages/tools/scripts/t-wrapper/common/applier/translation-applier.ts
  packages/tools/scripts/t-wrapper/common/ast/ast-helpers.ts
Due: prettier --write, cd packages/tools && npm run lint

refactor[demo]: 데모 페이지 정리 및 제네릭 타입 제거
  apps/demo/locales/docs-lazy-loading/en.json
  apps/demo/locales/docs-lazy-loading/ko.json
  apps/demo/locales/error.tsx/en.json
  apps/demo/locales/error.tsx/ko.json
  apps/demo/locales/test-final/en.json
  apps/demo/locales/test-final/ko.json
  apps/demo/locales/test-wrapper-namespace/en.json
  apps/demo/locales/test-wrapper-namespace/ko.json
  apps/demo/locales/types/i18nexus.d.ts
  apps/demo/page/admin-dashboard/index.tsx
  apps/demo/page/admin-dashboard/model/useAdminDashboard.ts
  apps/demo/page/cli/index.tsx
  apps/demo/page/docs-i18nexus-provider/index.tsx
  apps/demo/page/docs-i18nexus-server-components/index.tsx
  apps/demo/page/docs-i18nexus-tools-download-force/index.tsx
  apps/demo/page/docs-i18nexus-tools-download/index.tsx
  apps/demo/page/docs-i18nexus-tools-extractor/index.tsx
  apps/demo/page/docs-i18nexus-tools-google-sheets/index.tsx
  apps/demo/page/docs-i18nexus-tools-upload/index.tsx
  apps/demo/page/docs-i18nexus-tools-wrapper/index.tsx
  apps/demo/page/docs-i18nexus-tools/index.tsx
  apps/demo/page/docs-i18nexus-use-language-switcher/index.tsx
  apps/demo/page/docs-i18nexus-use-translation/index.tsx
  apps/demo/page/docs-i18nexus/index.tsx
  apps/demo/page/getting-started/index.tsx
  apps/demo/page/home/index.tsx
  apps/demo/page/provider/index.tsx
  apps/demo/page/test-wrapper-namespace/index.tsx
  apps/demo/page/type-error-test/page.tsx
  apps/demo/page/type-safety-test/page.tsx
Due: prettier --write, cd apps/demo && npm run lint

docs[core]: migrate README to English with Korean version
  packages/core/README.md
  packages/tools/README.ko.md
  packages/tools/README.md
Due: prettier --write

fix[core]: resolve eslint errors
  packages/core/src/hooks/useTranslation.ts
  packages/core/src/utils/createI18n.ts
  packages/core/src/utils/createI18nWithConfig.ts
Due: cd packages/core && npm run lint, prettier --write

chore[core]: version 3.2.3 release
  packages/core/package.json
  packages/tools/package.json
Due: prettier --write

docs[tools]: add init command guide and Next.js route handling
  packages/tools/README.md
Due: prettier --write

feat(tools): interactive server mode with auto-inference
  SERVER_MODE_IMPROVEMENT_PRD.md
  package-lock.json
  packages/core/dist/hooks/useTranslation.js.map
  packages/core/dist/utils/server.d.ts
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/src/utils/callsite-inference.ts
  packages/core/src/utils/config-loader.ts
  packages/core/src/utils/namespace-inference.ts
  packages/core/src/utils/server.ts
  packages/core/src/utils/translation-cache.ts
  packages/tools/bin/i18n-sheets.ts
  packages/tools/package.json
Due: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint

feat[core]: version 3.3.0 release
  packages/core/package.json
  packages/tools/package.json
Due: prettier --write

fix(tools): move inquirer to dependencies for CLI usage
  package-lock.json
Due: prettier --write

fix[tools]: use getServerTranslation instead of useTranslation in server mode
  packages/tools/bin/i18n-wrapper.ts
  packages/tools/scripts/t-wrapper/common/applier/translation-applier.ts
Due: prettier --write, cd packages/tools && npm run lint

feat[tools]: version 2.3.7 release
  packages/tools/CHANGELOG.md
  packages/tools/package.json
Due: prettier --write

fix[tools]: add useLanguageSwitcher to generated type definitions
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint

fix[tools]: add useLanguageSwitcher only for i18nexus users
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint

docs[tools]: update CHANGELOG for 2.3.8
  packages/tools/CHANGELOG.md
Due: prettier --write

feat[core]: version 3.3.1 release
  apps/demo/locales/types/i18nexus.d.ts
  packages/core/CHANGELOG.md
  packages/core/dist/index.d.ts
  packages/core/dist/index.d.ts.map
  packages/core/dist/index.js
  packages/core/dist/index.js.map
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/package.json
  packages/core/src/config.ts
  packages/core/src/index.ts
  packages/core/src/utils/callsite-inference.ts
  packages/core/src/utils/config-loader.ts
  packages/core/src/utils/createI18n.ts
  packages/core/src/utils/createI18nWithConfig.ts
  packages/core/src/utils/server.ts
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/t-wrapper/common/applier/translation-applier.ts
  packages/tools/scripts/t-wrapper/common/manager/import-manager.ts
Due: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

feat[tools]: auto-import useLanguageSwitcher and I18nProvider for existing files
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/t-wrapper/common/applier/translation-applier.ts
Due: prettier --write, cd packages/tools && npm run lint

feat[tools]: add I18nProvider to generated type definitions
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint

fix[core]: use fs instead of dynamic import for server translation files
  packages/core/CHANGELOG.md
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/package.json
  packages/core/src/utils/server.ts
Due: cd packages/core && npm run lint, prettier --write
