Repository i18n-global/i18n-mono: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

fix[tools]: update I18nProvider type definition to match actual implementation
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
Due: prettier --write, cd packages/tools && npm run lint

fix[core]: resolve locales path relative to config file location
  apps/demo/locales/index.ts
  packages/core/CHANGELOG.md
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/package.json
  packages/core/src/utils/server.ts
Due: cd packages/core && npm run lint, prettier --write, cd apps/demo && npm run lint

fix[core]: correct translations structure parsing in createServerTranslation
  packages/core/CHANGELOG.md
  packages/core/dist/utils/server.d.ts
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/src/utils/server.ts
Due: cd packages/core && npm run lint, prettier --write

fix[core]: add debugging logs for translation loading
  packages/core/CHANGELOG.md
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/src/utils/server.ts
Due: cd packages/core && npm run lint, prettier --write

feat[core]: add language option to getTranslation for static export support
  packages/core/dist/utils/server.d.ts
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/package.json
  packages/core/src/utils/server.ts
Due: cd packages/core && npm run lint, prettier --write

feat[tools]: type augmentation with original types
  apps/demo/locales/index.ts
  apps/demo/locales/types/i18nexus.d.ts
  packages/core/dist/index.d.ts
  packages/core/dist/index.d.ts.map
  packages/core/dist/index.js
  packages/core/dist/index.js.map
  packages/core/package.json
  packages/core/src/index.ts
  packages/tools/CHANGELOG.md
  packages/tools/package.json
  packages/tools/scripts/extractor/type-generator.ts
Due: cd packages/core && npm run lint, prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

fix[demo]: update Next.js to 15.5.7
  apps/demo/package.json
  package-lock.json
Due: prettier --write

fix[core]: remove server exports from main entry
  packages/core/dist/index.d.ts
  packages/core/dist/index.d.ts.map
  packages/core/dist/index.js
  packages/core/dist/index.js.map
  packages/core/package.json
  packages/core/src/index.ts
Due: cd packages/core && npm run lint, prettier --write

docs[core]: update changelog for 3.4.1
  packages/core/CHANGELOG.md
Due: prettier --write

feat[tools]: multi-sheet sync & type generation separation
  apps/demo/locales/types/i18nexus.d.ts
  packages/tools/bin/i18n-download.ts
  packages/tools/bin/i18n-type.ts
  packages/tools/bin/i18n-upload.ts
  packages/tools/package.json
  packages/tools/scripts/extractor/index.ts
  packages/tools/scripts/extractor/type-generator.ts
  packages/tools/scripts/google-sheets.ts
Due: prettier --write, cd packages/tools && npm run lint, cd apps/demo && npm run lint

feat[tools]: version 2.5.0 release
  packages/tools/CHANGELOG.md
  packages/tools/package.json
Due: prettier --write

chore[demo]: CI 워크플로우 리포별 분리 및 Next.js 15.5.9 업그레이드
  .github/workflows/ci.yml
  apps/demo/package.json
Due: prettier --write

chore[demo]: author 정보 수정 및 배포 워크플로우 정리
  .github/workflows/branch-protection.yml
  .github/workflows/deploy.yml
  .github/workflows/test-workflow.yml
  .github/workflows/version-and-release.yml
  apps/demo/package.json
  packages/core/package.json
  packages/tools/jest.config.js
  packages/tools/package.json
  packages/tools/scripts/__tests__/cli-test-utils.ts
  packages/tools/scripts/__tests__/cli/i18n-clean-legacy.e2e.test.ts
  packages/tools/scripts/__tests__/cli/i18n-download.e2e.test.ts
  packages/tools/scripts/__tests__/cli/i18n-extractor.e2e.test.ts
  packages/tools/scripts/__tests__/cli/i18n-type.e2e.test.ts
  packages/tools/scripts/__tests__/cli/i18n-upload.e2e.test.ts
  packages/tools/scripts/__tests__/fixtures/sample-configs/i18nexus.config.json
  packages/tools/scripts/__tests__/fixtures/sample-locales/en.json
  packages/tools/scripts/__tests__/fixtures/sample-locales/ko.json
  packages/tools/scripts/__tests__/fixtures/sample-source-code/with-translations.tsx
  packages/tools/scripts/__tests__/fixtures/sample-source-code/without-translations.tsx
  packages/tools/scripts/__tests__/integration/extractor-to-type.e2e.test.ts
  packages/tools/scripts/__tests__/integration/full-workflow.e2e.test.ts
  packages/tools/scripts/__tests__/integration/google-sheets-workflow.e2e.test.ts
  packages/tools/scripts/__tests__/setup.ts
  packages/tools/scripts/__tests__/test-utils.ts
  packages/tools/scripts/clean-legacy.test.ts
  packages/tools/scripts/extractor/index.test.ts
  packages/tools/scripts/extractor/namespace-inference.test.ts
  packages/tools/scripts/extractor/output-generator.test.ts
  packages/tools/scripts/extractor/type-generator.test.ts
  packages/tools/scripts/google-sheets-csv.test.ts
  packages/tools/scripts/google-sheets.test.ts
Due: prettier --write, cd packages/tools && npm run lint

chore[core]: remove unused code and update documentation
  packages/core/AUTO_TYPE_EXTRACTION.md
  packages/core/CHANGELOG.md
  packages/core/DYNAMIC_TRANSLATION.md
  packages/core/RELEASE_NOTES_v2.11.0.md
  packages/core/SUMMARY.md
  packages/core/TYPE_SAFE_KEYS.md
  packages/core/TYPE_SAFE_SETUP.md
  packages/core/USETRANSLATION_TYPE_SAFE.md
  packages/core/V3.1_PROPOSAL.md
  packages/core/dist/utils/server.d.ts
  packages/core/dist/utils/server.d.ts.map
  packages/core/dist/utils/server.js
  packages/core/dist/utils/server.js.map
  packages/core/docs/MIGRATION_V3.md
  packages/core/docs/api/server.md
  packages/core/src/utils/server.ts
  packages/tools/CHANGELOG.md
  packages/tools/README.md
  packages/tools/docs/cli/README.md
  packages/tools/docs/cli/i18n-type.md
Due: cd packages/core && npm run lint, prettier --write

chore[tools]: remove unused code and update documentation
  packages/tools/bin/i18n-extractor-backup.ts
  packages/tools/scripts/extractor/index.ts
  packages/tools/scripts/swc-utils.ts
Due: prettier --write, cd packages/tools && npm run lint

docs[demo]: add LLM-ready monorepo README guide
  README.md
Due: prettier --write

docs[demo]: add detailed README with page-based i18n typing guide
  README.md
Due: prettier --write

docs[demo]: expand README with full config and setup playbook
  README.md
Due: prettier --write

Path conditions:
  cd packages/core && npm run lint: any of: packages/core/**/*.{ts,tsx}
  prettier --write: (((any of: packages/core/**/*.{ts,tsx}) or (any of: packages/tools/**/*.{ts,tsx})) or (any of: apps/demo/**/*.{ts,tsx})) or (any of: *.{json,md})
  cd packages/tools && npm run lint: any of: packages/tools/**/*.{ts,tsx}
  cd apps/demo && npm run lint: any of: apps/demo/**/*.{ts,tsx}
